---
---
@import "{{ site.theme }}";

/* Place your custom styles below this line */

body {
  background: #f1f2f2;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background: none;
  margin: 10px 0 10px;
  padding-top: 16px;
}

.breadcrumbs {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}